@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to My Scripture Journal</h1>
    <p class="lead">When holy men of God write or speak by the power of the Holy Ghost, their words “shall be scripture, shall be the will of the Lord, shall be the mind of the Lord, shall be the word of the Lord, shall be the voice of the Lord, and the power of God unto salvation” ( D&C 68:4 ).</p>
    <hr class="my-4">
    <p>Use this application as your scripture study aid.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/JournalEntries" role="button">Go to journal entries</a>
    </p>
</div>
